

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
font-weight: 900;
}

p{
  color: #afafaf
}

/* Headings */
.big-heading{
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-size: 3rem;
line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */


.container-fluid{
  padding: 5% 15%;
}

/* Sections */
.coloured-section{

}

.white-section{
  background-color: white;

}


/* Title */

#title .container-fluid{
  padding: 3% 15% 10%;
  background-color: #3fc5f0;
  text-align: left;
}




.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0;
}

.ice-cream{
  transform: rotate(18deg);
  position: absolute;
}

.download-button{
  margin: 5% 3% 5% 0;
  font-weight: 300;
  position: relative;
  z-index: 10;
}

.nav-item{
  padding: 0 18px;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-link{
  font-size: 1.2rem;
}



/* Features */

#features{
  position: relative;
  }

  .feature-box{
    padding: 4.5%;
  }

.icon{
  color: #68cded;
  margin-bottom:1rem;
}

.icon:hover{
  color: #3fc5f0;
}

/* Testimonials */

#testimonials{
  background-color: #42dee1;
  color: white;
}

.testimonial-text{
  font-size: 2rem;
  line-height: 1.5;

}

.testimonial-image{
  margin-top: 3%;
  border-radius: 100%;
  width: 10%;
}

/* Press */

#press{
  background-color: #42dee1;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 15px 15px 50px;
}


/* Pricing */

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
/* CTA */

#cta{
  background-color: #43bf8d;
  color: white;
}

/* Footer */


.footer-image{
margin: 0 1% 1% 1%;
}

.cta-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Media Queries */

@media (max-width: 992px){
  .ice-cream{
    position: static;
    transform: rotate(0deg);
  }

  #title{
    text-align: center;
  }
}
